@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scrollbar-gutter: stable;
}

.swiper {
  display: grid;
}
.swiper-wrapper {
  min-width: 0;
}

.swiper-slide{
  width: auto;
  flex-shrink: 0;
  display: block;
  height: 100%;
  max-height: 100%;
}

@layer utilities{
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.7);
    }
    75% {
      opacity: 0.5;
      transform: scale(1);
    }
    100% {
      opacity: 1;
    }
  }
  
  .fadeIn {
    transition: transform .5s linear;
    animation: fadeIn 0.35s linear;
    animation-fill-mode: both;
    will-change: opacity;
  }

  .mask{
    mask: url('/mask.svg') center/contain no-repeat;
  }

  .text-shadow{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  }

  .button{
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    transition: transform .5s linear;
  }

  .button-pescar{
    @apply bg-gradient-to-t from-[#fc7203] to-orange-400
  }

  .button-pescar:hover{
    @apply bg-gradient-to-t from-[#fc7203] to-orange-500
  }

  .button:active{
    transform: scale(.95);
  }

  /* Gradiente Juegos */

  .bg_grad {
    position: relative;
  }
  
  .bg_grad::before,
  .bg_grad::after {
    content: "";
    display: block;
    position: fixed;
    max-height: 35dvh;
    @apply max-sm:max-h-[40dvh];
    @apply max-sm:max-w-[80dvh];
    max-width: 60dvw;
    width: 100%;
    height: 100%;
    inset-block: 0;
    filter: blur(85px);
    z-index: -1;
    margin-bottom: auto;
    background-repeat: no-repeat;
  }
  
  .bg_grad::before {
    background-image: radial-gradient(circle at 50% 50%, rgba(255, 238, 0, 0.675), transparent 70%);
    top: 25dvh;
    right: 30dvw;
    @apply max-sm:top-[25dvh] 
  }
  
  .bg_grad::after {
    background-image: radial-gradient(circle at 50% 50%, rgba(40, 255, 32, 0.7), transparent 70%);
    top: 28dvh;
    right: 11dvw;
    @apply max-sm:top-[30dvh] 
  }
}

/* Boton Hamburguesa */

.hamburger span {
  width: 32px;
  height: 2px;
  display: block;
  margin: 5px auto;
  transition: all 0.3s cubic-bezier(0.52, 0.01, 0.16, 1);
  background-color: #000;
}

.hamburger.is-active span:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/**********************/